@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
}
h4{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}
a{
    scroll-behavior: smooth;
    text-decoration: none !important;
}
.container{
    max-width:1270px;
    width: 75%;
    margin:0px auto;
}
.nav-home{
    background-image:url("../img/backgorund.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.nav-home a{
    color:white;
}
.home-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav{
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}
nav ul{
    display:flex;
    line-height: 2;
}
nav ul li{
    padding:15px 10px;
}
.text-container{
    text-transform: uppercase;
}
.projects{
    display:inline-block;
    border-style: solid;
    padding:17px 41px;
    margin-bottom: 185px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size:14px;
    
}
.project{
    display:inline-block;
}
.text-wrapper{
    margin-top:178px;
    width:50%;
    padding-bottom: 100px;
}
.main-text{
    font-size:48px;
    margin-top:10px;
    margin-bottom: 38px;
}
.image{
    width:230px;
    height:430px;
    background-color: #DFDFDF;
}
.img2{
    display:flex;
    flex-wrap: wrap;
}
.second{
    margin-left:50px;
    margin-top:100px;
}
.first{
    margin-bottom: 100px;
}
.main{
   margin:100px auto;
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.main-title{
    color:black;
    width:370px;
    margin-top:100px;
    
}
.home-wrapper .logo{
    font-family: 'Montserrat', sans-serif;
}
.main-title-bg{
    font-size:30px;
    margin-bottom: 30px;
    margin-top:16px;
}
.main-title-sm{
    font-size:12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.text{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size:14px;
}
.main-title-p{
    font-size:15px;
    margin-bottom: 45px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color:#5F5F5F;
}
.services{
    background-color: #101010;
}
.title-wrapper{
    color:white;
    padding:100px 0 40px 0;
}
.four-divs-div{
    border:solid 1px #262626;
    width:270px;
    padding:31px 40px 31px 30px;
    color:white;
}
.div-title{
    display: block;
    margin-top:10.5px;
    margin-bottom: 11.8px;
   
}
.div-icon{
    display: block;
    
}
.div-p{
    color:#8E8E8E;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size:0.9em;
    line-height: 1.5;
}
.four-divs{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.four-divs{
    padding-bottom: 101px;
}
.title-wrapper-second{
    color:black;
}
.tree-divs{
    color:black;
    display:flex;
    justify-content: space-between;    
    /* width: 100%; */
}
.tree-divs-div{
    max-width: 300px;
    width: 100%;
}
.tree-divs-div-img{
    width: 100%;
}
.tree-divs-div-text-wrapper{
    width: 100%;
    padding: 10px;
}
.news .read-moree {
    display:flex;
    justify-content: center;
    margin-top:65px;
    margin-bottom: 100px;
}
.tree-divs-div-text-wrapper .main-title-sm{
    margin:16px 0;
}
.news .read-moree .read-more{
    border-color:rgb(184, 184, 184);
}
.logos{
    display:flex;
    width:180px;
    justify-content: space-between;
    
}
.logoebi{
    width:30px;
}
.footeri{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#838383
}
footer{
    background-color:black;
    padding-top:42px;
    padding-bottom:42px;
}
.footeri .gotoa{
    color:#838383;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size:14px;
}
.footer-c{
    display: inline-block;
    width:180px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size:15px;
}
.btn-light{
    background-color: transparent;
    color:black;
    padding:7px 30px;
    border-radius: 0;
    border-color:rgb(190, 190, 190);
    border-width: 1.5px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size:0.8em;
}
.btn-primary:hover{
    background-color: rgb(230, 230, 230);
    color:black;

    
}
.buttoni{
    display:flex;
    justify-content: center;
    margin:50px 100px;
}
.mainbtn{
    color:white;
    padding:12px 47px;
    border-width: 2.5px;
    border-color:white;
    font-size:0.9rem;
    margin-top:30px;
}
.fa-bars{
    font-size:1.5rem;
    display: none;
}
