.title .title-p{
    display:flex;
    justify-content: center;
    color:#100c0c;
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
    
}
.works{
    background-color:rgb(248,244,244);

}
.title{
    padding:30px 0px;
}
.six-div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
    grid-area: span;
}
.six-div-divs{
    max-width:350px;
    width:100%;
}