body{
    background-color:rgb(250, 244, 244);

}
.title .title-p{
    display:flex;
    justify-content: center;
    color:#100c0c;
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
    
}
.title{
    padding:30px 0px;
}
.six-div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:25px;
}
.six-div-divs{
    max-width:350px;
    width:100%;
}
.six-div-divs:hover{
    cursor:pointer;
}
.six-div div{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.six-div-p{
    font-size:0.8em;
    padding-bottom: 15px;
}
.six-div-title{
    font-size:1.2em;
    padding:15px 0;
}
#hidden{
    display:none;
}
.title-p{
    font-family: 'Work Sans', sans-serif;
    font-weight: Bold;
}