@media (max-width:855px){
    .six-div{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .six-div-divs{
        max-width:270px;
    }
    .nav-home{
        padding-bottom: 20px;
    }
    .logo{
        line-height: 1.6;
    }
}