@media (max-width:1440px){
    .four-divs-div{
        margin-top:50px;
    }
}
@media (max-width:1024px){
    .margina{
        margin-top:100px;
    }
}
@media (max-width:768px){
    .container{
        width: 80%;
    }
    /* 1 */
    nav {
        display:none;
    }
    .home-wrapper{
        padding-top:25px;
    }
    .text-wrapper{
        margin:0 auto;
        margin-top:178px;
        width:100%;
        text-align: center;
    }
    .project{
        display:flex;
        justify-content: center;
    }
    .projects{
        padding:12px 35px;
        font-size:0.8em;
    }
    /* 2 */
    .image{
        margin:0 auto;
    }
    .second{
        margin:0;
        margin-top:100px;
    }
    .first{
        margin:0;
    }
    .main-title{
        margin:100px auto 0 auto;
        text-align: center;
    }
    .read-moree{
        display:flex;
        justify-content: center;

    }
    .img2{
        margin:0 auto;
        flex-direction: column;
    }
    /* 3 */
    .title-wrapper{
        text-align: center;
    }
    .margina{
        margin-top:0;
    }
    .four-divs{
        flex-direction: column;
    }
    .four-divs-div{
        margin-left:auto;
        margin-right:auto;
        margin-top:50px;
    }
    /* 4 */
    .tree-divs-div{
        max-width: 300px;
        
        margin:0 auto;
        margin-top:50px;
    }
    .tree-divs-div img{
        max-width: 300px;
    }
    .tree-divs{
        flex-direction: column;
    }
    /* 5 */
    .footeri{
        flex-direction: column;
        text-align: center;
    }
    .gotoa{
        display: flex;
        margin:25px 0;
    }
}